.heading{
font-size: 23px;
width: 100%;
margin: 0px;
box-shadow: 5px 5px 5px cyan;
}
.note{
    font-size: 17px;
    color: blue;
}
.copy_right_footer{
    position: fixed;
    color: whitesmoke;
    background-color: crimson;
    width: 100%;
    bottom:0;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid indianred;
    border-radius: 20px;
    box-shadow: 5px 5px 5px orange;
}